/node_modules
.env
.prettierrc



// for upload to github
git init
git add --a
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/GIRIJESHKUSHWAHA/troology-project.git
git push -u origin main